@charset "EUC-KR";

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th {
	height: 30px;
	background-color: #00ff00;
}

td {
	padding: 10px;
}

td.center {
	text-align: center;
}